NET "CLK_50MHZ" LOC = "C9" |IOSTANDARD = LVCMOS33 ;
NET "RST" LOC = "K17" |IOSTANDARD = LVTTL |PULLDOWN ;
TIMESPEC TS_CLK_50MHZ = PERIOD "CLK_50MHZ" 20 ns HIGH 40%;
#Created by Constraints Editor (xc3s500e-fg320-4) - 2015/10/19
NET "CLK_50MHZ" TNM_NET = CLK_50MHZ;

NET "ssdout[0]" LOC = "B4" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 6 ;
NET "ssdout[1]" LOC = "A4" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 6 ;
NET "ssdout[2]" LOC = "D5" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 6 ;
NET "ssdout[3]" LOC = "C5" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 6 ;
NET "ssdout[4]" LOC = "A6" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 6 ;
NET "ssdout[5]" LOC = "B6" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 6 ;
NET "ssdout[6]" LOC = "E7" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 6 ;
NET "ssdsel"    LOC = "F7" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 6 ;